name: Android Debug APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install Android commandline tools
        uses: android-actions/setup-android@v3

      - name: Accept SDK licenses & install required packages
        shell: bash
        run: |
          yes | sdkmanager --licenses
          sdkmanager \
            "platform-tools" \
            "platforms;android-33" "build-tools;33.0.2" \
            "platforms;android-34" "build-tools;34.0.0"

      - name: Cache Gradle
        uses: gradle/gradle-build-action@v2

      - name: Gradlew permissions
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew --no-daemon clean assembleDebug --stacktrace --warning-mode all

      - name: Upload APK artifacts
        uses: actions/upload-artifact@v4
        with:
          name: debug-apks
          path: |
            **/build/outputs/apk/**/debug/*.apk
            **/build/outputs/bundle/**/debug/*.aab
          if-no-files-found: warn
